#!/usr/bin/env fish

set autolaunch_dir "/Users/$USER/Library/Application\ Support/iTerm2/Scripts/AutoLaunch"
mkdir -p $autolaunch_dir
set src_file_path {{ joinPath .chezmoi.sourceDir "dot_iterm2" "AutoSwitchTheme.py" | quote }}
set dest_file_path "$autolaunch_dir"

echo $src_file_path
echo $dest_file_path

echo "cp $src_file_path $dest_file_path"

cp $src_file_path $dest_file_path